{% extends 'sublets/base.html' %}

{% block main_content %}
    <div class="text-dark">
                <h1 class="text-dark">Placeholder for img</h1><br/>
                Start date: {{ detail_sublet.sublet_start_date }}<br />
                End date: {{ detail_sublet.sublet_end_date }} <br />
                Address: {{ detail_sublet.sublet_place.sublet_address }} <br />
                Company: {{ detail_sublet.sublet_place.sublet_company }} <br />
                Price: {{ detail_sublet.sublist_price}} CAD<br />
                Utilities: {{ detail_sublet.utilities}}<br />
                <a href="subtenantInfo/" class="btn btn-primary">Reserve</a>
    </div>
    <h3>In order to reserve this property you must pay a $50 legal Fee.</h3>
{% endblock %}