{% extends 'sublets/base.html' %}
{% block main_content %}
<u><h3>Can I sublet if I’m not a student?</h3></u>
<p>Only Students at the three major schools in Waterloo (Uwaterloo, Laurier, and Conestoga) may reserve a sublet.
</p><br><br>
<u><h3>Whats the “Legal Processing Fee”?</h3></u>
<p>The legal processing fee is a fee to cover the time we take working with you and creating our contracts.
    This fee is applicable towards your first months rent if the sublet is completed successfully.</p><br><br>
<u><h3>Does paying the fee guarantee my sublet?</h3></u>
<p>Paying the fee guarantees and reserves the sublet for you on our end however since we are simply helping tenants
    get sublets your sublet must still be agreed on and is at the discretion of the current leaseholder.
    If you are not accepted for this reason your fee will be fully refunded.</p><br><br>
<u><h3>If I change my mind can I get my fee back?</h3></u>
<p>Our fees are non-refundable as they are used to pay for the work that goes into maintaining our website as well
    as quality customer service for our customers.</p><br><br>
<u><h3>How do I contact your team directly?</h3></u>
<p>You can give us a call at 289-880-7808 or email us.</p><br><br>
<u><h3>Do you offer tours of the places?</h3></u>
<p>We may be able to provide a virtual tour, please call us at 289-880-7808.</p><br><br>
<u><h3>What is included in my sublet?</h3></u>
<p>Our sublets include all heat, water, electricity, and other bills (unless otherwise stated).
    They do not include internet unless that is stated in the listing.</p>



{% endblock %}