{% extends 'sublets/base.html' %}


{% block main_content %}
    <div class="row">
    <div class="card card-body">
    <form method="get">
        {{ my_filter.form }}
        <button class="btn specific_button" type="submit">Search</button>
    </form>
    </div>
    </div>
{% if sublet_listing %}
    <ul style="list-style-type:none" class="text-dark">
    {% for sublet in sublet_listing %}
        {% if sublet.sublet_status == 1%}
            <li class="col-md-5 border border-dark text-dark text-center">
                <a href="{% url 'sublets:details' listing_id=sublet.id%}">
                <h1 class="text-dark">Placeholder for img</h1><br/>
                </a>
                Start date: {{ sublet.sublet_start_date }} <br />
                End date: {{ sublet.sublet_end_date }} <br />
                Address: {{ sublet.sublet_place.sublet_address }} <br />
                Company: {{ sublet.sublet_place.sublet_company }} <br />
                Price: {{ sublet.sublist_price}} CAD<br />
                Utilities: {{ sublet.utilities}}
            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>SORRY, NO OFFERS AVAILABLE</p>
{% endif %}
{% endblock %}