<style type="text/css">
   div.ex1 {
  width:750px;
  margin: auto;
  border: 3px solid #3cb6d3;
  height: 500px;
}
</style>


{% extends 'sublets/base.html' %}

{% block main_content %}

{% if error_message %} <p><strong> {{error_message}} </strong></p> {% endif %}


<form action="{% url 'sublets:legalFee' listing_id=sublet.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
        <legend>Subtenant Information</legend>
            <div class="row" style="text-align: left">
                <div class="col-sm-4">
                    <label for="fullName">Full Legal Name:</label><br>
            <input required type="text" id="fullName" name="fullname"/><br>
            <label for="email">Email:</label><br>
            <input required type="email" id="email" name="email"/><br>
            <label for="phone">Phone number:</label><br>
            <input required type="tel" id="phone" name="phone"/><br>
            <label for="date">Date:</label><br>
            <input required type="date" id="date" name="date"/><br>
            <label for="photoId">Upload Photo ID:</label><br>
            <input required type="file" id="photoId" name="photoId"><br><br>
            <label for="gr_name">Guarantor Name:</label><br>
            <input required type="text" id="gr_name" name="gr_name"/><br>
                    <label for="gr_email">Guarantor Email:</label><br>
            <input required type="email" id="gr_email" name="gr_email"/><br>
                    <label for="gr_phone">Guarantor Phone number:</label><br>
            <input required type="tel" id="gr_phone" name="gr_phone"/><br>
            <label for="gr_addr">Guarantor address:</label><br>
            <input required type="text" id="gr_addr" name="gr_addr"/><br>
                </div>
                <div>
                    <h3>SUBLET AGREEMENT:</h3>
                </div>
                <div class="col-sm-6" style="text-align: right">
                    <div class="ex1 text-left" style="width:100%; overflow:auto;" >
<p>This Agreement is legally binding. The electronic signing of this agreement reserves this place for your signing.
    Failure to sign the relevant documents and provide a credible guarantor to cosign as well as pay the full first and
    last months rent deposit within 5 days will result in the forfeit of the legal fee.
    Otherwise the legal processing fee is applicable towards first months rent.
    The Tenant may choose to not take you on as a sub-tenant after you agree to this, in this case the legal processing
    fee will be refunded. In all other cases the legal processing fee is non refundable.</p>
                        <p>This agreement made on
                            <script type="text/javascript">
                            document.write(Date());
                            </script>
                        </p>
                        <p>Between {{ sublet.sublet_owner_info.sublet_owner_name }} </p>
    <p>(Hereinafter called the “Tenants” of the first part)</p>
                        <p>And yourself</p>
    <p>(Hereinafter called the “Sub-tenant” of the second part)</p>
<p>Whereas the Tenants are signatories to a certain Tenancy Agreement inclusive of the period of the sublets desired
    tenancy.</p>
<p>And whereas the Tenants are desirous of subletting their premises and whereas the subtenants are desirous of
    occupying the premises now currently rented by the tenants, municipally knows as
    {{ sublet.sublet_place.sublet_address }} and the parties hereto agree as follows:</p>
<p>1. 1.	The sub-tenants tenancy shall commence on {{ sublet.sublet_start_date }} to {{ sublet.sublet_end_date }} </p>

<p>1. 2.	The tenants direct the sub-tenants to pay the aforementioned rent directly to University Sublets
    (QuarterPoint Limited) or the sublet manager 3 days before the start of the next payable month.</p>

<p>1. 3.	The sub-tenant(s) shall pay the sum of ${{ sublet.sublist_price }} per month for the period
    of  {{ sublet.sublet_start_date }} to {{ sublet.sublet_end_date }}</p>

<p>1. 4.	The sub-tenants shall abide by all terms and conditions in the aforementioned Tenancy Agreement as
    if they were signatories thereto.</p>

<p>1. 5.	The sub-tenants shall be bound by all of the terms and conditions in the aforementioned Tenancy
    Agreement.</p>

<p>1. 6.	Any special conditions that are to apply to this agreement are noted in Schedule “A” on the reverse side
    of this document.</p><br>


<p> 	Schedule “A”</p>
<p>A)	Unpaid rent may be collected from the Guarantor and will result in a missing payment report as well as damage
    to the sub-tenants and Guarantor’s credit scores.

    Late rent payments (payments made after the 1st day of a payable month) are subject to a $20 manual processing
    fee. </p>

<p>B)	Damages to the property by the sub-tenant or under the supervision of the sub-tenant are the responsibility
    of the sub-tenant. University Sublets and its Employees assume no responsibility for these damages.
    University Sublets also assumes zero liability for any misrepresentations of the sublet property or its details
    by the tenant.</p>

<p>C)	University Sublets (QuarterPoint Limited) agrees to pay all rent received from the sub-tenant to the tenant
    each payment period after deducting management fees of 20%. Any fees associated with this money transfer will be
    the responsibility of the tenant however flexible transfer options will be available.

The tenant authorizes the sublet manager or the sub-tenant to pick up keys and communicate with the landlord on their
    behalf in the interest of completing the agreed upon sublet.</p>

<p>D)	The sub-tenant shall pay a deposit equal to first and last month’s rent within 5 days of the date the agreement
    was signed and before moving the start of the sublet. Failure to complete this action renders this entire agreement
    void at the request of the sublet manager or tenant.

In the event of a lost key the sub-tenant and guarantor will be wholly responsible for the amount of the key deposit
    upon its loss.</p>


<p>E)	The sub-tenant is responsible for any and all utility, hydro, gas, or other bills incurred by the sub-tenant
    during their tenancy. This excludes any bills that are part of an “all-inclusive” package or other utility package
    included by landlord in the rent for a given lease.</p>

</div>
                    <label for="signature">Signature (typed out):</label><br>
            <input required type="text" id="signature" name="signature"><br>
            </div>
            </div>
            <br><input type="submit" class="specific_button btn" value="Submit"><br><br>

        </fieldset>
</form>
{% endblock %}
